body { background: #8f9948; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 33px; display: flex; }
.block-helper-0 { color: #4542ce; font-size: 16px; margin-bottom: 5px; }
.block-invoice-1 { color: #65c46; font-size: 16px; margin-bottom: 5px; }
.block-search-2 { color: #a9ad01; font-size: 20px; margin-bottom: 5px; }
.block-payment-3 { color: #a57206; font-size: 16px; margin-bottom: 5px; }
.block-filter-4 { color: #34ee4d; font-size: 15px; margin-bottom: 5px; }
.block-search-5 { color: #4db251; font-size: 13px; margin-bottom: 5px; }